h3{
    font-size: 25px !important;
}

.btn-success:hover{
    background-color: red;
    border-color: red;
}

canvas{
    animation-name: test;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes test{
    from{box-shadow: 1px 1px 38px red;}
    to{box-shadow: 1px 1px 38px yellow;}
}

body
{
background-color: #90EE90;
}

h1
{

    color:rgb(38, 0, 255);
    background-color: cornsilk;
}

#show_sketch
{
    float:right;
}

canvas
 {
     border:5px solid white;
     border-radius:20px;
     animation-name: example;
     animation-duration: 4s;
     margin-top: 50px;
     animation-iteration-count: infinite;


 } 
 @keyframes examples {
     
    from {box-shadow: 1px 1px 38px grey;}
    to {box-shadow: 1px 1px 38px white;}
 
}


p
  {
      padding-top:10px;
      font-size:25px;
  }

